
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: linear-gradient(45deg, #e56262,#FF7D95);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.circle {
	position: absolute;
	top: -15px;
	right: -15px;
	height: 30px;
	width: 30px;
	background: white;
	border-radius: 50%;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.4);
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.animation-4-1st-circle {
	animation-name: anim-1st-circle;
}

.animation-4-2d-circle {
	animation-name: anim-2d-circle;
}

.animation-4-3d-circle {
	animation-name: anim-3d-circle;
}

@keyframes anim-1st-circle {
	0% {scale: 0;}
	100% {scale: 5;}
}

@keyframes anim-2d-circle {
	0% {scale: 0;}
	40% {scale: 0;}
	100% {scale: 3;}
}

@keyframes anim-3d-circle {
	0% {scale: 0;}
	70% {scale: 0;}
	100% {scale: 1;}
}
