@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700,600);

$duration: 24590ms;

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;  
    border-radius: 6px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background : #ea4c89;
    font-family: "Open Sans", Helvetica, sans-serif;
    overflow: hidden;
    animation: frame $duration linear infinite;

    .center {
        position: absolute;
        top: 156px;
        left: 82px;
        width: 236px;
        height: 88px;
    }

    div[class^="bar"] {
        position: absolute;
        left: 0;
        width: 236px;
        height: 2px;
        border-radius: 2px;
        background: #fff;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    }

    .bar-top {
        top: 0;
        transform: translateX(150%);
        animation: bar-top $duration ease infinite;
    }

    .bar-bottom {
        bottom: 0;
        transform: translateX(-150%);
        animation: bar-bottom $duration ease infinite;
    }

    div[class^="card"] {
        position: absolute;
        width: 43px;
        height: 62px;
        background: rgb(20, 20, 20);
        font-size: 42px;
        font-weight: 700;
    }

    .card-A {
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
        opacity: 1;
    } 

    .card-B {
        box-shadow: 2px -2px 4px 0px rgba(0, 0, 0, 0.3);
        visibility: hidden;
        animation: card-B $duration linear infinite; 
    }

    div[class^="cards-top"] {
        position: absolute;
        top: 0;
        height: 2px;
        background: #fff;
        animation: cards $duration linear infinite;

        .hook-left {
            position: absolute;
            top: -6px;
            left: 4px;
            width: 2px;
            height: 14px;
            background: #bdbdbd;
            z-index: 30;
        }

        .hook-right {
            @extend .hook-left;
            left: 37px
        }

        div[class^="card"] {
            position: absolute;
            border-radius: 0 0 4px 4px;
            transform-origin: 50% 0;
        }

        .card-A {
            top: 6px;
            transform: rotateX(90deg);
        }

        .card-B {
            top: -4px;
            transform: rotateX(180deg);
        }
    }

    .cards-top-1 {
        left: 0;
        .card-A {
            &:before {
                position: absolute;
                content: 'H';
                top: 2px;
                width: 43px;
                text-align: center;
                color: #fff;
                animation: message-1 $duration linear infinite;
            }
        }
    }

    .cards-top-2 {
        left: 96px;

        .card-A {
            &:before {
                position: absolute;
                content: '';
                top: 2px;
                width: 43px;
                text-align: center;
                color: #fff;
                animation: message-3 $duration linear infinite;
            }
        }
    }

    .cards-top-3 {
        left: 192px;

        .card-A {
            &:before {
                position: absolute;
                content: '';
                top: 2px;
                width: 43px;
                text-align: center;
                color: #fff;
                animation: message-5 $duration linear infinite;
            }
        }
    }

    div[class^="cards-bottom"] {
        position: absolute;
        bottom: 0;
        height: 2px;
        background: #fff;
        animation: cards $duration linear infinite;

        .hook-left {
            position: absolute;
            bottom: -6px;
            left: 4px;
            width: 2px;
            height: 14px;
            background: #bdbdbd;
            z-index: 30;
        }

        .hook-right {
            @extend .hook-left;
            left: 37px
        }

        div[class^="card"] {
            position: absolute;
            border-radius: 4px 4px 0 0;
            transform-origin: 50% 100%;
        }

        .card-A {
            bottom: 6px; 
            transform: rotateX(-90deg);
        }

        .card-B {
            bottom: -4px;
            transform: rotateX(180deg);
        }
    }

    .cards-bottom-1 {
        left: 48px;

        .card-A {
            &:before {
                position: absolute;
                content: '';
                bottom: 4px;
                width: 43px;
                text-align: center;
                color: #fff;
                animation: message-2 $duration linear infinite;
            }
        }
    }

    .cards-bottom-2 {
        left: 144px;

        .card-A {
            &:before {
                position: absolute;
                content: '';
                bottom: 4px;
                width: 43px;
                text-align: center;
                color: #fff;
                animation: message-4 $duration linear infinite;
            }
        }
    }

    .card-1 {
        animation: card-1 $duration linear infinite;
    }
    .card-2 {
        animation: card-2 $duration linear infinite;
    }
    .card-3 {
        animation: card-3 $duration linear infinite;
    }
    .card-4 {
        animation: card-4 $duration linear infinite; 
    }
    .card-5 {
        animation: card-5 $duration linear infinite;
    }

}

@keyframes frame {
    0%, 37.819%, 100% {
        background: #ea4c89;
    }
    37.82%, 38.124%, 38.430%, 38.734%, 39.040%, 93.614%, 93.920%, 94.224%, 94.530%, 94.834% {
        background: #46768a;
    }
    38.125%, 38.429%, 38.735%, 39.039%, 93.615%, 93.919%, 94.225%, 94.529%, 94.835% {
        background: #ea4c89;
    }
}

@keyframes bar-top {
    0%, 100% {
        transform: translateX(150%);
    }
    
    4.067%, 95.933% {
        transform: translateX(0%);
    }
}

@keyframes bar-bottom {
    0%, 100% {
        transform: translateX(-150%);
    }
    
    4.067%, 95.933% {
        transform: translateX(0%);
    }
}

$start-at: 51.444;
$increment: .203;
$i: 1;
@keyframes cards {
    0%, 4.88%, 95.324%, 100% {
        opacity: 0;
        background: #fff;
    }
    4.881%, 42.290%, 43.920%, 43.920%, 47.987%, 50.020%, 51.037%, 51.545%, 95.3237% {
        opacity: 1;
        background: #fff;
    }
    42.294%, 47.174%, 49.164%, 50.834%, 51.444% {
        background: rgb(20, 20, 20);
    }
    // flash
    @while $i <= 212 {
        #{($start-at + ($i * $increment)) * 1%} {
            opacity: 1;
        } 
        $i: $i + 1;
        #{($start-at + ($i * $increment)) * 1%} {
            opacity: 0;
        } 
        $i: $i + 1;
    }
    94.683% {
        opacity: 1;
    }
}

@keyframes card-B {
    0%, 51.646%, 94.510%, 100% {
        visibility: hidden;
    }
    51.647%, 94.509% {
        visibility: visible;
    }
}

@keyframes card-1 {
    0%, 4.88%,  100% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    6.1% {
        top: 6px;
        transform: perspective(600px) rotateX(-20deg);
    }
    6.507% {
        top: 6px;
        transform: perspective(600px) rotateX(20deg);
    }
    6.913%, 15.047% {
        top: 6px;
        transform: perspective(600px) rotateX(0deg);
    }
    16.267% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    17.487% {
        top: 6px;
        transform: perspective(600px) rotateX(-20deg);
    }
    17.893% {
        top: 6px;
        transform: perspective(600px) rotateX(20deg);
    }
    18.3%, 26.434% {
        top: 6px;
        transform: perspective(600px) rotateX(0deg);
    }
    27.654%, 39.04% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    40.667% {
        top: -4px;
        transform: perspective(600px) rotateX(180deg);
    } 
    42.294% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    43.920% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    43.921% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    45.547% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    46.360% {
        top: -4px;
        transform: perspective(600px) rotateX(180deg);
    } 
    47.174% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    47.987% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    47.988% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    48.8% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
    49.207% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    49.614% {
        top: 0px; 
        transform: perspective(600px) rotateX(270deg);
    }
    50.020% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    50.021% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    50.427% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
    50.630% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    50.630% {
        top: 0px; 
        transform: perspective(600px) rotateX(270deg);
    }
    51.037% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    51.038% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    51.240% {
        top: 0px; transform: perspective(600px) rotateX(90deg);
    }
    51.342% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    51.444% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    51.545% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    51.546%, 52.460%, 94.510% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    51.647%, 95.323% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
}

@keyframes card-2 {
    0%, 4.88%,  100% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    6.1% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(20deg);
    }
    6.507% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(-20deg);
    }
    6.913%, 15.047% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(0deg);
    }
    16.267% {
        transform: perspective(600px) rotateX(-90deg);
    }
    17.487% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(20deg);
    }
    17.893% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(-20deg);
    }
    18.3%, 26.434% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(0deg);
    }
    27.654% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    28.874% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(20deg);
    }
    29.280% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(-20deg);
    }
    29.687%, 37.820% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(0deg);
    }
    39.04% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    40.667% {
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    42.294% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    43.920% { bottom: 6px; transform: perspective(600px) rotateX-(360deg); }
    43.921% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    45.547% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    46.360% {
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    47.174%  {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    47.987% { bottom: 6px; transform: perspective(600px) rotateX(-360deg); }
    47.988% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    48.800% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    49.207% { 
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    49.614% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    50.020% { bottom: 6px; transform: perspective(600px) rotateX(-360deg); }
    50.021% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    50.427% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    50.630% {
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    50.834% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    51.037% { bottom: 6px; transform: perspective(600px) rotateX(-360deg); }
    51.038% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    51.240% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    51.342% {
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    51.444% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    51.545% { bottom: 6px; transform: perspective(600px) rotateX(-360deg); }
    51.546%, 52.460%, 94.510% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    51.647%, 95.323% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
}

@keyframes card-3 {
    0%, 4.88%,  100% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    6.1% {
        top: 6px;
        transform: perspective(600px) rotateX(-20deg);
    }
    6.507% {
        top: 6px;
        transform: perspective(600px) rotateX(20deg);
    }
    6.913%, 15.047% {
        top: 6px;
        transform: perspective(600px) rotateX(0deg);
    }
    16.267% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    17.487% {
        top: 6px;
        transform: perspective(600px) rotateX(-20deg);
    }
    17.893% {
        top: 6px;
        transform: perspective(600px) rotateX(20deg);
    }
    18.3%, 26.434% {
        top: 6px;
        transform: perspective(600px) rotateX(0deg);
    }
    27.654% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    28.874% {
        top: 6px; 
        transform: perspective(600px) rotateX(-20deg);
    }
    29.280% {
        top: 6px; 
        transform: perspective(600px) rotateX(20deg);
    }
    29.687%, 37.820% {
        top: 6px; 
        transform: perspective(600px) rotateX(0deg);
    }
    39.04% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    40.667% {
        top: -4px;
        transform: perspective(600px) rotateX(180deg);
    } 
    42.294% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    43.920% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    43.921% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    45.547% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    46.360% {
        top: -4px;
        transform: perspective(600px) rotateX(180deg);
    } 
    47.174% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    47.987% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    47.988% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    48.800% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
    49.207% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    49.614% {
        top: 0px; 
        transform: perspective(600px) rotateX(270deg);
    }
    50.020% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    50.021% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    50.427% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
    50.630% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    50.630% {
        top: 0px; 
        transform: perspective(600px) rotateX(270deg);
    }
    51.037% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    51.038% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    51.240% {
        top: 0px; transform: perspective(600px) rotateX(90deg);
    }
    51.342% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    51.444% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    51.545% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    51.546%, 52.460%, 94.510% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    51.647%, 95.323% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
}

@keyframes card-4 {
    0%, 4.88%,  100% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    6.1% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(20deg);
    }
    6.507% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(-20deg);
    }
    6.913%, 15.047% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(0deg);
    }
    16.267% {
        transform: perspective(600px) rotateX(-90deg);
    }
    17.487% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(20deg);
    }
    17.893% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(-20deg);
    }
    18.3%, 26.434% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(0deg);
    }
    27.654% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    28.874% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(20deg);
    }
    29.280% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(-20deg);
    }
    29.687%, 37.820% {
        bottom: 6px; 
        transform: perspective(600px) rotateX(0deg);
    }
    39.04% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    40.667% {
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    42.294% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    43.920%  { bottom: 6px; transform: perspective(600px) rotateX-(360deg); }
    43.921% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    45.547% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    46.360% {
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    47.174%  {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    47.987% { bottom: 6px; transform: perspective(600px) rotateX(-360deg); }
    47.988% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    48.800% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    49.207% { 
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    49.614% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    50.020% { bottom: 6px; transform: perspective(600px) rotateX(-360deg); }
    50.021% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    50.427% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    50.630% {
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    50.834% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    51.037% { bottom: 6px; transform: perspective(600px) rotateX(-360deg); }
    51.038% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    51.240% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
    51.342% {
        bottom: -4px;
        transform: perspective(600px) rotateX(-180deg);
    } 
    51.444% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-270deg);
    }
    51.545% { bottom: 6px; transform: perspective(600px) rotateX(-360deg); }
    51.546%, 52.460%, 94.510% { bottom: 6px; transform: perspective(600px) rotateX(0deg); }
    51.647%, 95.323% {
        bottom: 0px;
        transform: perspective(600px) rotateX(-90deg);
    }
}

@keyframes card-5 {
    0%, 4.88%,  100% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    6.1% {
        top: 6px;
        transform: perspective(600px) rotateX(-20deg);
    }
    6.507% {
        top: 6px;
        transform: perspective(600px) rotateX(20deg);
    }
    6.913%, 15.047% {
        top: 6px;
        transform: perspective(600px) rotateX(0deg);
    }
    16.267% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    17.487% {
        top: 6px;
        transform: perspective(600px) rotateX(-20deg);
    }
    17.893% {
        top: 6px;
        transform: perspective(600px) rotateX(20deg);
    }
    18.3%, 26.434% {
        top: 6px;
        transform: perspective(600px) rotateX(0deg);
    }
    27.654%, 39.04% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    40.667% {
        top: -4px;
        transform: perspective(600px) rotateX(180deg);
    } 
    42.294% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    43.920% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    43.921% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    45.547% {
        top: 0px;
        transform: perspective(600px) rotateX(90deg);
    }
    46.360% {
        top: -4px;
        transform: perspective(600px) rotateX(180deg);
    } 
    47.174% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    47.987% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    47.988% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    48.8% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
    49.207% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    49.614% {
        top: 0px; 
        transform: perspective(600px) rotateX(270deg);
    }
    50.020% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    50.021% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    50.427% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
    50.630% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    50.630% {
        top: 0px; 
        transform: perspective(600px) rotateX(270deg);
    }
    51.037% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    51.038% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    51.240% {
        top: 0px; transform: perspective(600px) rotateX(90deg);
    }
    51.342% {
        top: -4px; 
        transform: perspective(600px) rotateX(180deg);
    } 
    51.444% {
        top: 0px;
        transform: perspective(600px) rotateX(270deg);
    }
    51.545% { top: 6px; transform: perspective(600px) rotateX(360deg); }
    51.546%, 52.460%, 94.510% { top: 6px; transform: perspective(600px) rotateX(0deg); }
    51.647%, 95.323% {
        top: 0px; 
        transform: perspective(600px) rotateX(90deg);
    }
}

@keyframes message-1 {
    0%, 16.266% {
        content: 'H'; 
    }
    16.267%, 28.873% {
        content: 'W';
    }
    28.874%, 56.933% {
        content: '';
    }
    56.934%	{
        content: 'P';
    }
    57.828%	{
        content: 'L';
    }
    58.723%	{ 
        content: 'E';
    }
    59.618%	{
        content: 'A';
    }
    60.512%	{
        content: 'S';
    }
    61.407%	{
        content: 'E';
    }
    62.302%	{
        content: '';
    }
    63.196%	{
        content: 'H';
    }
    64.091%	{
        content: 'E';
    }
    64.986%	{
        content: 'L';
    }
    65.880%	{
        content: 'P';
    }
    66.775%	{
        content: '';
    }
    67.670%	{
        content: 'I';
    }
    68.564%	{
        content: "'";
    }
    69.459%	{
        content: 'M';
    }
    70.354%	{
        content: '';
    }
    71.248%	{
        content: 'T';
    }
    72.143%	{
        content: 'R';
    }
    73.038%	{
        content: 'A';
    }
    73.932%	{
        content: 'P';
    }
    74.827%	{
        content: 'P';
    }
    75.722%	{
        content: 'E';
    }
    76.617%	{
        content: 'D';
    }
    77.511%	{
        content: '';
    }
    78.406%	{
        content: 'I';
    }
    79.301%	{
        content: 'N';
    }
    80.195%	{
        content: '';
    }
    81.090%	{
        content: 'C';
    }
    81.985%	{
        content: 'S';
    }
    82.879%	{
        content: 'S';
    }
    83.774%	{
        content: '';
    }
    84.669%	{
        content: 'C';
    }
    85.563%	{
        content: 'H';
    }
    86.458%	{
        content: 'A';
    }
    87.353%	{
        content: 'L';
    }
    88.247%	{
        content: 'L';
    }
    89.142%	{
        content: 'E';
    }
    90.037%	{
        content: 'N';
    }
    90.931%	{
        content: 'G';
    }
    91.826%	{
        content: 'E';
    }
    92.721%	{
        content: '!';
    }
    93.615%, 100% {
        content: '';
    }
}

@keyframes message-2 {
    0%, 16.266% {
        content: 'E';
    }
    16.267%, 27.653% {
        content: 'O';
    }
    27.654%, 37.819% {
        content: 'B';
    }
    37.82%, 56.038% {
        content: '';
    }
    56.039% {
        content: 'P';
    }
    56.934%	{
        content: 'L';
    }
    57.828%	{
        content: 'E';
    }
    58.723%	{
        content: 'A';
    }
    59.618%	{
        content: 'S';
    }
    60.512%	{
        content: 'E';
    }
    61.407%	{
        content: '';
    }
    62.302%	{
        content: 'H';
    }
    63.196%	{
        content: 'E';
    }
    64.091%	{
        content: 'L';
    }
    64.986%	{
        content: 'P';
    }
    65.880%	{
        content: '';
    }
    66.775%	{
        content: 'I';
    }
    67.670%	{
        content: "'";
    }
    68.564%	{
        content: 'M';
    }
    69.459%	{
        content: '';
    }
    70.354%	{
        content: 'T';
    }
    71.248%	{
        content: 'R';
    }
    72.143%	{
        content: 'A';
    }
    73.038%	{
        content: 'P';
    }
    73.932%	{
        content: 'P';
    }
    74.827%	{
        content: 'E';
    }
    75.722%	{
        content: 'D';
    }
    76.617%	{
        content: '';
    }
    77.511%	{
        content: 'I';
    }
    78.406%	{
        content: 'N';
    }
    79.301%	{
        content: '';
    }
    80.195%	{
        content: 'C';
    }
    81.090%	{
        content: 'S';
    }
    81.985%	{
        content: 'S';
    }
    82.879%	{
        content: '';
    }
    83.774%	{
        content: 'C';
    }
    84.669%	{
        content: 'H';
    }
    85.563%	{
        content: 'A';
    }
    86.458%	{
        content: 'L';
    }
    87.353%	{
        content: 'L';
    }
    88.247%	{
        content: 'E';
    }
    89.142%	{
        content: 'N';
    }
    90.037%	{
        content: 'G';
    }
    90.931%	{
        content: 'E';
    }
    91.826%	{
        content: '!';
    }
    92.721%, 100%	{
        content: '';
    }
}

@keyframes message-3 {
    0%, 16.266% {
        content: 'L';
    }
    16.267%, 27.653% {
        content: 'R';
    }
    27.654%, 37.819% {
        content: 'Y';
    }
    37.82%, 55.143% {
        content: '';
    }
    55.144% {
        content: 'P';
    }
    56.039% {
        content: 'L';
    }
    56.934%	{
        content: 'E';
    }
    57.828%	{
        content: 'A';
    }
    58.723%	{
        content: 'S';
    }
    59.618%	{
        content: 'E';
    }
    60.512%	{
        content: '';
    }
    61.407%	{
        content: 'H';
    }
    62.302%	{
        content: 'E';
    }
    63.196%	{
        content: 'L';
    }
    64.091%	{
        content: 'P';
    }
    64.986%	{
        content: '';
    }
    65.880%	{
        content: 'I';
    }
    66.775%	{
        content: "'";
    }
    67.670%	{
        content: 'M';
    }
    68.564%	{
        content: '';
    }
    69.459%	{
        content: 'T';
    }
    70.354%	{
        content: 'R';
    }
    71.248%	{
        content: 'A';
    }
    72.143%	{
        content: 'P';
    }
    73.038%	{
        content: 'P';
    }
    73.932%	{
        content: 'E';
    }
    74.827%	{
        content: 'D';
    }
    75.722%	{
        content: '';
    }
    76.617%	{
        content: 'I';
    }
    77.511%	{
        content: 'N';
    }
    78.406%	{
        content: '';
    }
    79.301%	{
        content: 'C';
    }
    80.195%	{
        content: 'S';
    }
    81.090%	{
        content: 'S';
    }
    81.985%	{
        content: '';
    }
    82.879%	{
        content: 'C';
    }
    83.774%	{
        content: 'H';
    }
    84.669%	{
        content: 'A';
    }
    85.563%	{
        content: 'L';
    }
    86.458%	{
        content: 'L';
    }
    87.353%	{
        content: 'E';
    }
    88.247%	{
        content: 'N';
    }
    89.142%	{
        content: 'G';
    }
    90.037%	{
        content: 'E';
    }
    90.931%	{
        content: '!';
    }
    91.826%, 100%	{
        content: '';
    }
}

@keyframes message-4 {
    0%, 27.653% {
        content: 'L';
    }
    27.654%, 37.819% {
        content: 'E';
    }
    37.82%, 54.249% {
        content: '';
    }
    54.25% {
        content: 'P';
    }
    55.144% {
        content: 'L';
    }
    56.039% {
        content: 'E';
    }
    56.934%	{
        content: 'A';
    }
    57.828%	{
        content: 'S';
    }
    58.723%	{
        content: 'E';
    }
    59.618%	{
        content: '';
    }
    60.512%	{
        content: 'H';
    }
    61.407%	{
        content: 'E';
    }
    62.302%	{
        content: 'L';
    }
    63.196%	{
        content: 'P';
    }
    64.091%	{
        content: '';
    }
    64.986%	{
        content: 'I';
    }
    65.880%	{
        content: "'";
    }
    66.775%	{
        content: 'M';
    }
    67.670%	{
        content: '';
    }
    68.564%	{
        content: 'T';
    }
    69.459%	{
        content: 'R';
    }
    70.354%	{
        content: 'A';
    }
    71.248%	{
        content: 'P';
    }
    72.143%	{
        content: 'P';
    }
    73.038%	{
        content: 'E';
    }
    73.932%	{
        content: 'D';
    }
    74.827%	{
        content: '';
    }
    75.722%	{
        content: 'I';
    }
    76.617%	{
        content: 'N';
    }
    77.511%	{
        content: '';
    }
    78.406%	{
        content: 'C';
    }
    79.301%	{
        content: 'S';
    }
    80.195%	{
        content: 'S';
    }
    81.090%	{
        content: '';
    }
    81.985%	{
        content: 'C';
    }
    82.879%	{
        content: 'H';
    }
    83.774%	{
        content: 'A';
    }
    84.669%	{
        content: 'L';
    }
    85.563%	{
        content: 'L';
    }
    86.458%	{
        content: 'E';
    }
    87.353%	{
        content: 'N';
    }
    88.247%	{
        content: 'G';
    }
    89.142%	{
        content: 'E';
    }
    90.037%	{
        content: '!';
    }
    90.931%, 100%	{
        content: '';
    }
}

@keyframes message-5 {
    0%, 16.266% {
        content: 'O';
    }
    16.267%, 28.873% {
        content: 'D';
    }
    28.874%, 53.354% {
        content: '';
    } 
    53.355% {
        content: 'P';
    }
    54.25% {
        content: 'L';
    }
    55.144% {
        content: 'E';
    }
    56.039% {
        content: 'A';
    }
    56.934%	{
        content: 'S';
    }
    57.828%	{
        content: 'E';
    }
    58.723%	{
        content: '';
    }
    59.618%	{
        content: 'H';
    }
    60.512%	{
        content: 'E';
    }
    61.407%	{
        content: 'L';
    }
    62.302%	{
        content: 'P';
    }
    63.196%	{
        content: '';
    }
    64.091%	{
        content: 'I';
    }
    64.986%	{
        content: "'";
    }
    65.880%	{
        content: 'M';
    }
    66.775%	{
        content: '';
    }
    67.670%	{
        content: 'T';
    }
    68.564%	{
        content: 'R';
    }
    69.459%	{
        content: 'A';
    }
    70.354%	{
        content: 'P';
    }
    71.248%	{
        content: 'P';
    }
    72.143%	{
        content: 'E';
    }
    73.038%	{
        content: 'D';
    }
    73.932%	{
        content: '';
    }
    74.827%	{
        content: 'I';
    }
    75.722%	{
        content: 'N';
    }
    76.617%	{
        content: '';
    }
    77.511%	{
        content: 'C';
    }
    78.406%	{
        content: 'S';
    }
    79.301%	{
        content: 'S';
    }
    80.195%	{
        content: '';
    }
    81.090%	{
        content: 'C';
    }
    81.985%	{
        content: 'H';
    }
    82.879%	{
        content: 'A';
    }
    83.774%	{
        content: 'L';
    }
    84.669%	{
        content: 'L';
    }
    85.563%	{
        content: 'E';
    }
    86.458%	{
        content: 'N';
    }
    87.353%	{
        content: 'G';
    }
    88.247%	{
        content: 'E';
    }
    89.142%	{
        content: '!';
    }
    90.037%, 100%	{
        content: '';
    }
}